logs
bin
tmp
organized-splitted-deduplicated
.metadata
.recommenders
RemoteSystemsTempFiles
summarization.jar
!solr/bin
solr/server/indexing/data/
*.pid
data/vectors*

data/experiments/DatatypeVsObjectTypeResults-dbpedia-3.8
data/experiments/DomainsAndRanges_dbpedia-2015-10
data/experiments/DomainsAndRanges_dbpedia-3.9-infobox
